/* PRODUCT CARD STYLE 
.product-box {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 4px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .15));
    padding: 1rem;
}
.product-box-header {
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.product-box-header img {
    object-fit: contain;
    transition: .3s ease;
}
.product-box-header img:hover {
    transform: scale(1.1);
}
.product-layer {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    width: 100%;
    height: 150px;
    padding: 1rem 0 0 0;
    gap: 0.5rem;
}
.product-layer .btn-text {
    background: none;
}
.product-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: -85px;
    left: -25px;
    gap: 0.25rem;
}
.product-categories .btn-middle {
    padding: 0.25rem;
    width: 100%;
}
.product-categories .btn-middle {
    font-size: 0.7rem;
    transform: scale(0.8);
}
.product-stars .comment-form-stars {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.75rem;
}
.product-box-footer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
}
.product-layer-buttons {
    display: flex;
    gap: 1rem;
}
.product-filter-layer-buttons {
    display: flex;
    gap: 1rem;
}*/
