/* SELECTED ADDRESS STYLE 
.sel-address-header,
.sel-courier-header {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--base-bg);
}
.sel-address-header-item {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.sel-address-header-item:nth-child(1) {
    border-right: 2px solid var(--base-bg);
}
.sel-courier-header-item {
    display: flex;
    width: 33.33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.sel-courier-header-item:nth-child(-n+2) {
    border-right: 2px solid var(--base-bg);
}
.sel-address-content,
.sel-courier-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sel-address,
.sel-courier {
    display: flex;
    width: 100%;
    height: 100px;
}
.sel-address-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 50%;
    height: 100%;
}
.sel-courier-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 33.33%;
    height: 100%;
}
.sel-courier-item:nth-child(1) {
    text-align: start;
    align-items: flex-start;
    border-right: 2px solid var(--base-bg);
}
.sel-courier-item:nth-child(2) {
    border-right: 2px solid var(--base-bg);
}
.sel-address-item:nth-child(1) {
    text-align: start;
    align-items: flex-start;
    border-right: 2px solid var(--base-bg);
}*/
